<h1>Usuarios</h1>
<table class="table" style="margin-top: 30px">
  <thead>
    <tr>
      <th scope="col">Primer Nombre</th>
      <th scope="col">Segundo Nombre</th>
      <th scope="col">Primer Apellido</th>
      <th scope="col">Segundo Apellido</th>
      <th scope="col">Telefono</th>
      <th scope="col">Dirección</th>
      <th colspan="2" scope="col" style="text-align: center">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.firstName}}</td>
      <td>{{user.secondName}}</td>
      <td>{{user.firstSurname}}</td>
      <td>{{user.secondSurname}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.address}}</td>
      <td><button type="button" class="btn btn-info" (click)="edit(user)">Editar</button></td>
      <td><button type="button" class="btn btn-warning" (click)="selectedUserDelete(user)" data-toggle="modal" data-target="#exampleModal">Eliminar</button></td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Esta seguro que desea eliminar el usuario {{userDelete.firstName}} {{userDelete.secondName}} {{userDelete.firstSurname}} {{userDelete.secondSurname}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="delete()">Confirmar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
