<h1>Usuarios</h1>
<table class="table" style="margin-top: 30px">
  <thead>
    <tr>
      <th scope="col">Primer Nombre</th>
      <th scope="col">Segundo Nombre</th>
      <th scope="col">Primer Apellido</th>
      <th scope="col">Segundo Apellido</th>
      <th scope="col">Telefono</th>
      <th scope="col">Dirección</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.firstName}}</td>
      <td>{{user.secondName}}</td>
      <td>{{user.firstSurname}}</td>
      <td>{{user.secondSurname}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.address}}</td>
    </tr>
  </tbody>
</table>